.card-bourse{
    min-height:150px;
    margin:10px;
    background-color: rgba($purple,0.5);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;


    &--big-title{
        font-size: $card-desc;
        text-align: center;
        padding:$base-padding ;
        font-weight: normal;
    }
    
    &--contenu{
        background-color: #fff;
        margin: 0px 20px 0 20px;
        height: 50%;
    }
    
}
@media (max-width: 999px) {
    .card {
        padding-top:25%;
    }

}