.card-inscription{
    @extend .card;

    &--big-title{
        font-size: $base-size;
        text-align: center;
        padding: $base-padding;
        font-weight: bold;
    }
    &--input{
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }
    &--submit-buton{
        font-size: $buton-text;
        padding: 20px;
        margin-left: 25px;
        border: none;
        width: 90%;
        background-color:$login-btn;
        height: 60px;
        color: #fff;
        margin-bottom: 25px;
        cursor: pointer;
        &:hover {
            font-weight: bold;
			background-color:lighten($login-btn,10%);
        }  
}
}
@media (max-width: 999px) {
    .card {
        padding-top:25%;
    }

}