.card-social{
   @extend .card;

   &--big-title{
    font-size: $card-bigger-title;
    text-align: center;
    padding: $base-padding;
    font-weight: $semibold;
}
    &--imagesholder{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 30px;      
    }
    &--image{
    border: 1px solid red;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    flex-basis: 20%;
    margin: 1%;
 }
 
}
.banner-social{
        margin: 20px 0px 0px 0px;
        height: 140px;
        background-color: $main;  
        position: relative;    

    &--title{
        font-size: $base-size;
        text-align: center;
        font-weight: normal;
        margin-bottom: 0px;
        position: absolute;
        left: 15px;
        bottom: 10px;
    }   
}

.card-social-footer{
   background-color:darken($main,15%);

   &--title{
       font-size: $base-size;
       text-align: left;
       font-weight: normal;
       padding: 15px 15px 0px 15px;
   }
   &--texte{
    font-size: $base-little-size;
    text-align: left;
    font-weight: normal;
    padding:0px 15px 15px 15px;
    
   }
}
@media (max-width: 999px) {
    .imagesholder {
        display:block;
    }

}