.card{
    min-height:350px;
    margin:10px;
    background-color: rgba($purple,0.5);
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;

    &--title{
        font-size: $card-desc;
        padding: $base-padding;
        font-weight: 500;
    }
    &--main{
        text-align: center;
        background-color: $main;
    }
    &--bouton{
        margin: 30px 10px;
        width: 180px;
        height: 150px;
        vertical-align: middle;
        font-size: $buton-text;
        background-color: $buton;
        color: $btn-text;
        cursor: pointer;
        &:hover {
            font-weight: bold;
			background-color:lighten($login-btn,10%);
        }
    }
    
}
@media (max-width: 999px) {
    .card {
        padding-top:25%;
    }

}