// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin button {
	background: none;
	border-color: $color__primary;
	border-radius: 6px;
	border: 1px solid;
	color: $color__primary;
	line-height: $leading__base;
	padding: $spacing__padding $spacing__padding-sides;
	text-decoration: none;
}

@mixin button-hover {
	background: $color__primary;
	color: $color__light;
	cursor: pointer;
}

@mixin flex-row {
	display: flex;
	flex: {
		direction: row;
		wrap: wrap;
	}
}