h1 {
	font-family: $title-fonts;
	font-size: $h1;
}

h2 {
	font-family: $subtitle-fonts;
	font-size: $h2;
}
h3{
	font-family: $subtitle-fonts;
	font-size: $h3;

}
h4{
	font-family: $subtitle-fonts;
	font-size: $h4;	
}
.logo{
	font-family: $title-fonts;
	font-size: $logo;
	font-weight: 600;

}
a {
	color:$links;
	&:hover {
		color:lighten($links,75%);
	}
}

button{
	height: 60px;
	padding: 20px;
	font-size: $buton-text;
    color:$btn-text;
    background-color:$login-btn;
    border: 1px solid;
    cursor: pointer;

        // &:hover{
		// 	font-weight: bold;
		// 	background-color:lighten($login-btn,10%);
        // }
}

body {
	font-family: $rasa;
	font-size: $base-size;
	background-color: $white;
}

input{

   border-width: 0.2px;
   width: 90%;
   padding: 20px;
   margin-left: 25px;
   margin-bottom: 25px;
   background-color: $item;
   color:$black ;
    }

li{
	text-decoration: none;
	font-size: $listitem;
	font-weight: normal;
	text-align: center;
	margin: 5px;
}
/**
* Font size media queries
*/

@media all and (min-width: 1000px) {
	.h1 {
		font-size: 4rem;
	}
	.h2 {
		font-size: 3rem;
	}
}
