.is-error{
    color:red;
    background-color: lighten($links, 25%);
}

.is-warning{
    color:orange;
    background-color: lighten(orange, 25%);
}

.is-active{
    color:$light-gray;
    border: 1px solid;
}