button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	&:hover {
		background: $color__primary;
		border-color: $color__primary;
		color: $color__light;
	}
}

.button {
	@include button;
}